<?xml version="1.0" encoding="UTF-8"?>
<!-- http://blog.csdn.net/autfish/article/details/51203709 -->
<!--lever sort OFF > FATAL > ERROR > WARN > INFO > DEBUG > TRACE > ALL -->
<Configuration status="WARN" monitorInterval="30">
    <properties>  
        <property name="LOG_HOME">logs</property>
        <property name="FILE_NAME">apiagent</property>
    </properties>  
    <Appenders>  
        <Console name="Console" target="SYSTEM_OUT">  
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1.} %-5level - %msg%n" />
        </Console>  
        <RollingRandomAccessFile name="apiagent"
            fileName="${LOG_HOME}/${FILE_NAME}.log"
            filePattern="${LOG_HOME}/$${date:yyyy-MM}/${FILE_NAME}-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout  
                pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1.} %-5level - %msg%n" />
            <Policies>  
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>  
            <DefaultRolloverStrategy max="1000" />
        </RollingRandomAccessFile>
    </Appenders>    
    <Loggers>
        <Logger name="org.springframework.security" level="debug" additivity="false">
            <AppenderRef ref="apiagent" />
        </Logger>
        <Root level="INFO">
            <AppenderRef ref="apiagent" />
            <AppenderRef ref="Console" />
        </Root>  
    </Loggers>  
</Configuration>  